      h2 {
  color: #143152;
  text-decoration: underline 3px #143152;
  letter-spacing: -1px;
  word-spacing: 3px;
  text-shadow: 2px 2px 5px #94A1B3;
  font-size: 170%
}


body {
  background-color: #D2D7DF;
}

img{
      width: 200px;
}

img:hover {
  width: 300px;
  border: dotted white 5px;
  border-radius: 10%;
}

h2:hover {
  font-size: 200%;
}

nav {
  list-style-type: none;
  background-color: #143152;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
    
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: #D2D7DF;
  color: black;
  opacity: 0.7;
} 
